{% extends "defensaCivil/base.html" %}
{% load static %}
{% block estilos %}
<style>
  /* Contenedor con tamaño fijo */
  .cont {
      position: relative; 
      height: 120px; 
      border-radius: 10px; 
      overflow: hidden; 
      color: white;
      display: flex; 
      align-items: center; 
      justify-content: center; 
  }
  .btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
  }

  /* Imagen de fondo con desenfoque */
  .cont::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../static/imagenes/defensacivil.jpg"); 
      background-size: cover;
      background-position: center;
      filter: blur(4px); 
      z-index: -1; 
      opacity: 0.8; 
  }

  /* Estilo para el título */
  .titulo {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877); 
  }
</style>
{% endblock %}
{% block contenido %}
<div class="container mt-5">
    <div class="cont mb-5">
     <h1 class="titulo">Catastrofes</h1>
    </div>
    <div class="table-responsive w-100">
      <table class="table table-bordered table-striped table-hover" id="table">
        <thead class="table-light">
          <tr>
            <th>Estado por defecto</th>
          </tr>
        </thead>
        <tbody>
          {% for disaster in disaster %}
          {% if disaster.is_default %}
          <tr>
            <td>{{ disaster.type_disaster }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <h1 class="mb-4 mt-5 text-success">Lista de Catástrofes</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" id="table">
        <thead class="table-light">
          <tr>
            <th>Tipo de Desastre</th>
            <th>Editar</th>
            <th>Activar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for disaster in disaster %}

          <tr>
            <td>{{ disaster.type_disaster }}</td>
            
            <td>
              {% if active %}
              <a href="{% url 'Modificar' disaster.id %}" class="btn btn-sm btn-secondary">
                <img src="{% static 'assets/edit.svg' %}" style="width: 20px;">
              Editar
            </a>
              {% endif %}
            </td>
            
            <td>
              {% if not disaster.is_default %}
              {% if not disaster.is_active and active %}
              <a href="{% url 'Activar' disaster.id %}" class="btn btn-sm btn-success">
                <img src="{% static 'assets/active.svg' %}" style="width: 20px;">
              Activar</a>
              {% elif disaster.is_active %}
              <a href="{% url 'Activar' disaster.id %}" class="btn btn-sm btn-danger">
                <img src="{% static 'assets/deactivate.svg' %}" style="width: 20px;">
              Desactivar</a>
              {% endif %}
              {% endif %}
            </td>
            
            <td>
              {% if not disaster.is_default %}
              {% if not disaster.is_active   and active %}
              <a href="{% url 'Eliminar' disaster.id %}" class="btn btn-sm btn-danger">
                <img src="{% static 'assets/eliminar.svg' %}" style="width: 20px;">Eliminar
              </a>
              {% elif not disaster.is_active  and active%}
              <a href="{% url 'Eliminar' disaster.id %}" class="btn btn-sm btn-danger">
                <img src="{% static 'assets/eliminar.svg' %}" style="width: 20px;">Eliminar
              </a>
              {% endif %}
              {% endif %}
            </td>


          </tr>
          {% endfor %}
        </tbody>
      </table>


    <h1 class="mb-4 mt-5 text-success">Lista de  sub Catástrofes</h1>
    <a class="btn btn-success mb-1" href="{% url 'subcat_crear' %}">Nuevo</a>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" id="table">
        <thead class="table-light">
          <tr>
            <th>Titulo</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
         {% for s in subcat %}
          <tr>
            <td>{{ s.titulo }}</td>
            <td>
             <a class="btn btn-sm btn-secondary" href="{% url 'subcat_update' s.id %}">
                <img src="{% static 'assets/edit.svg' %}" style="width: 20px;">Editar
             </a>
            </td>
            <td>
              <a class="btn btn-sm btn-danger" href="{% url 'subcat_delete' s.id %}">
                <img src="{% static 'assets/eliminar.svg' %}" style="width: 20px;">Eliminar
              </a>
            </td>
          </tr>
          {% endfor %}
      
        </tbody>
      </table>

      <h1 class="mb-4 mt-5 text-primary">Listas de PDF</h1>
      <a class="btn btn-success mb-1" href="{% url 'pdf_create' %}">Nuevo</a>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" id="table">
        <thead class="table-light">
          <tr>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>

          </tr>
        </thead>
        <tbody>
         {% for pdf in pdf %}
          <tr>
            <td>{{ pdf.name }}</td>
            <td>
             <a class="btn btn-sm btn-secondary" href="{% url 'pdf_update' pdf.id %}">
                <img src="{% static 'assets/edit.svg' %}" style="width: 20px;">Editar
             </a>
            </td>
            <td>
              <a class="btn btn-sm btn-danger" href="{% url 'pdf_delete' pdf.id %}">
                <img src="{% static 'assets/eliminar.svg' %}" style="width: 20px;">Eliminar
              </a>
            </td>
          </tr>
          {% endfor %}
      
        </tbody>
      </table>

      
    <h1 class="mb-4 mt-5 text-success">Lista de Integrantes DC Landing Page</h1>
    <a class="btn btn-success mb-1" href="{% url 'integrante_crear' %}">Nuevo</a>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" id="table">
        <thead class="table-light">
          <tr>
            <th>Titulo</th>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
         {% for s in integrantes %}
          <tr>
            <td>{{ s.titulo }}</td>
            <td>{{ s.persona }}</td>
            <td>{{ s.cargo }}</td>
            <td>
             <a class="btn btn-sm btn-secondary" href="{% url 'integrante_update' s.id %}">
                <img src="{% static 'assets/edit.svg' %}" style="width: 20px;">Editar
             </a>
            </td>
            <td>
              <a class="btn btn-sm btn-danger" href="{% url 'integrante_delete' s.id %}">
                <img src="{% static 'assets/eliminar.svg' %}" style="width: 20px;">Eliminar
              </a>
            </td>
          </tr>
          {% endfor %}
      
        </tbody>
      </table>








    </div>
    <a href={% url "crear" %} class="customButton">+</a>
  </div>

{% endblock %}