{% extends "defensaCivil/base.html" %}
{% load static %}
{% block estilos %}
<style>
  /* Contenedor con tamaño fijo */
  .cont {
      position: relative; 
      height: 120px; 
      border-radius: 10px; 
      overflow: hidden; 
      color: white;
      display: flex; 
      align-items: center; 
      justify-content: center; 
  }
  /* Imagen de fondo con desenfoque */
  .cont::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../static/imagenes/defensacivil.jpg"); 
      background-size: cover;
      background-position: center;
      filter: blur(4px); 
      z-index: -1; 
      opacity: 0.8; 
  }

  /* Estilo para el título */
  .titulo {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877); 
  }
</style>
{% endblock %}
{% block contenido %}
<div class="container mt-5">
  <div class="cont mb-5">
    <h1 class="titulo">Personal Humano</h1>
  </div>

    <table class="table table-light shadow-sm  mt-2">
        <thead class="bg-light">
          <tr>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col" class="d-none d-md-table-cell">DNI</th>
            <th scope="col" class="d-none d-md-table-cell">Teléfono</th>
            <th scope="col" class="d-flex justify-content-end">Accion</th>
          </tr>
        </thead>
        <tbody>
          {% for persona in personas %}
            {% if persona.nombre != "seleccionar persona" %}
              <tr>
                <td style="cursor: pointer;" onclick="window.location.href='{% url 'modificarPersona' persona.id %}'">{{ persona.nombre_apellido | title}}</td>
                <td style="cursor: pointer;" class="d-none d-md-table-cell" onclick="window.location.href='{% url 'modificarPersona' persona.id %}'">{{ persona.dni | default_if_none:"-----" }}</td>
                <td style="cursor: pointer;" class="d-none d-md-table-cell" onclick="window.location.href='{% url 'modificarPersona' persona.id %}'">{{ persona.telefono | default_if_none:"-----" }}</td>
                <td>
                  <div class="d-flex justify-content-end align-items-center">
                    <a class="btn btn-primary" href="{% url 'modificarPersona' persona.id %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                      </svg>
                    </a>
                    <a class="btn btn-danger ms-1" href="{% url 'borrarPersona' persona.id %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg>
                    </a>
                      <!-- Botón de llamada -->
                    <a class="btn btn-success ms-1 llamar-btn d-table-cell d-lg-none" onclick="llamar('{{ persona.telefono }}')">
                        <span class="text-white d-flex align-items-center">📞</span>
                    </a>
                  </div>
                </td>    
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
    </table>

    <div class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary mb-3" href="?page=1">
                Primera
            </a>
            <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.previous_page_number }}">
                Anterior
            </a>
        {% endif %}
    
        <span class="current-page btn btn-outline-light disabled text-primary mb-3">
            {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>
    
        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.next_page_number }}">
                Siguiente
            </a>
            <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.paginator.num_pages }}">
                Última
            </a>
        {% endif %}
    </div>


    <a href={% url "nuevaPersona" %} class="customButton">+</a>
</div>
<script>

  function llamar(numero) {
      window.location.href = "tel:" + numero;
  }

</script>
{% endblock %}