{% extends "defensaCivil/base.html" %}
{% load static %}
{% block estilos %}
<style>
  /* Contenedor con tamaño fijo */
  .cont {
      position: relative; 
      height: 120px; 
      border-radius: 10px; 
      overflow: hidden; 
      color: white;
      display: flex; 
      align-items: center; 
      justify-content: center; 
  }

  /* Imagen de fondo con desenfoque */
  .cont::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../static/imagenes/defensacivil.jpg"); 
      background-size: cover;
      background-position: center;
      filter: blur(4px); 
      z-index: -1; 
      opacity: 0.8; 
  }

  /* Estilo para el título */
  .titulo {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877); 
  }
</style>
{% endblock %}
{% block contenido %}
<div class="container mt-5">
  <div class="cont mb-5">
    <h1 class="titulo fs-3 fs-md-2 fs-lg-1">Instituciones</h1>
  </div>

    <table class="table table-light shadow-sm mt-2">
        <thead class="bg-light">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" class="d-none d-md-table-cell">Teléfono</th>
            <th scope="col" class="d-flex justify-content-end">Accion</th>
          </tr>
        </thead>
        <tbody>
          {% for i in instituciones %}
            {% if i.nombre != "institucion" %}
              <tr>
                <td style="cursor: pointer;" onclick="window.location.href='{% url 'modificarInstitucion' i.id %}'">{{ i.nombre | title}}</td>
                <td style="cursor: pointer;" class="d-none d-md-table-cell" onclick="window.location.href='{% url 'modificarInstitucion' i.id %}'">{{ i.telefono |default_if_none:"--" }}</td>
                <td class="d-none d-lg-table-cell">
                  <div class="d-flex justify-content-end align-items-center">
                      <a class="btn btn-sm- btn-primary" href="{% url 'institucionDetalle' i.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                          <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                          <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                        </svg>
                      </a>
                      <a class="btn btn-danger ms-1" href="{% url 'borrarInstitucion' i.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                      </a>
                  </div>
                </td>
                <td class="d-table-cell d-lg-none">
                  <div class="d-flex justify-content-end align-items-center">
                      <a class="btn btn-sm btn-primary" href="{% url 'institucionDetalle' i.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                          <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                          <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                        </svg>
                      </a>
                      <a class="btn btn-sm btn-danger ms-1" href="{% url 'borrarInstitucion' i.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                      </a>
                      {% if i.telefono %}
                        <!-- Botón de llamada -->
                        <a class="btn btn-sm btn-success ms-1 llamar-btn " onclick="llamar('{{ i.telefono }}')">
                            <span class="text-white d-flex align-items-center">📞</span>
                        </a>
                      {% endif %}
                  </div>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
    </table>
    <a href={% url "nuevaInstitucion" %} class="customButton">+</a>
</div>
<script>

  function llamar(numero) {
    window.location.href = "tel:" + numero;
  }

</script>
{% endblock %}