{% extends "defensaCivil/base.html" %}
{% load static %}
{% block estilos %}
  <style>

    h1 {
      color: #444;
    }

    .btn {
      padding: 12px 24px;
      margin: 0 10px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .btn.confirmar {
      background-color: #d9534f;
      color: white;
    }

    .btn.confirmar:hover {
      background-color: #c9302c;
    }

    .btn.cancelar {
      background-color: #5bc0de;
      color: white;
    }

    .btn.cancelar:hover {
      background-color: #31b0d5;
    }
  </style>
{% endblock %}
{% block contenido %}

  <div class="container mt-5 text-center">
    <form method="post" >
    <h1>¿Continuar con esta operación?</h1>
      {% csrf_token %}
    <div class="button-group">
      <button class="btn confirmar" type="submit">Confirmar</button>
      <a class="btn cancelar" href="{% url 'Lista-Desastre' %}">Cancelar</a>
    </div>
    </form>
  </div>

{% endblock %}
