{% extends "defensaCivil/base.html" %}
{% load static %}


{% block contenido %}
<div class="container">
  <div class="cont mb-1" onclick="window.location.href='{% url 'Lista-Desastre' %}'">
    <h2 class="display-4 titulo-volver">
      {% if form.instance.pk %}
        Editar
      {% else %}
        Crear
      {% endif %}
      Catástrofe
    </h2>
  </div>

  <form method="post" class="border p-4 bg-white shadow rounded">
    {% csrf_token %}

    <ul class="nav nav-tabs mb-4" id="formTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="catastrofe-tab" data-bs-toggle="tab" data-bs-target="#catastrofe" type="button" role="tab">Catástrofe</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="protocolos-tab" data-bs-toggle="tab" data-bs-target="#protocolos" type="button" role="tab">Protocolos</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="bunkers-tab" data-bs-toggle="tab" data-bs-target="#bunkers" type="button" role="tab">Areas</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="footer-tab" data-bs-toggle="tab" data-bs-target="#footer" type="button" role="tab">Footer</button>
      </li>
    </ul>

    <div class="tab-content" id="formTabsContent">
      <div class="tab-pane fade show active" id="catastrofe" role="tabpanel">
        {{ form.as_p }}
      </div>
      <div class="tab-pane fade" id="protocolos" role="tabpanel">
        {{ protocole_formset.management_form }}
        {% for f in protocole_formset %}
          {{ f.as_p }}
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="bunkers" role="tabpanel">
        {{ refujio_formset.management_form }}
        {% for f in refujio_formset %}
          {{ f.as_p }}
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="footer" role="tabpanel">
        {{ footer_formset.management_form }}
        {% for f in footer_formset %}
          {{ f.as_p }}
        {% endfor %}
      </div>
    </div>

    <div class="text-end mt-4">
      <button type="submit" class="btn btn-primary w-100">Guardar</button>
    </div>
  </form>

  <a href="{% url 'Lista-Desastre' %}" class="customButton mt-3 d-inline-block">
    ← Volver al listado
  </a>
</div>

{% endblock %}



