{% extends "defensaCivil/base.html" %}
{% load static %}
{% block estilos %}
{% endblock %}
{% block contenido %}
<div class="container my-5">
  <div class="cont mb-1" onclick="window.location.href='{% url 'Lista-Desastre' %}'">
    <h2 class="display-4 titulo-volver">
      {% if form.instance.pk %}
        Editar
      {% else %}
        Crear
      {% endif %}
      Catástrofe
    </h2>
  </div>

  <form method="post" class="border p-4 bg-white shadow rounded">
    {% csrf_token %}

    <fieldset class="mb-4">
      <legend class="h5">Detalles de la Catástrofe</legend>
      <div class="mb-3">
        {{ form.as_p }}
      </div>
    </fieldset>

    <fieldset class="mb-4">
      <legend class="h5">Protocolos Relacionados</legend>
      {{ protocole_formset.management_form }}
      {% for protocole_form in protocole_formset %}
        <div class="mb-3">
          {{ protocole_form.as_p }}
        </div>
      {% endfor %}
    </fieldset>

    <fieldset class="mb-4">
      <legend class="h5">Bunker Relacionado</legend>
      {{ refujio_formset.management_form }}
      {% for refujio_form in refujio_formset %}
        <div class="mb-3">
          {{ refujio_form.as_p }}
        </div>
      {% endfor %}
    </fieldset>

    <fieldset class="mb-4">
      <legend class="h5">Footer Relacionado</legend>
      {{ footer_formset.management_form }}
      {% for footer_form in footer_formset %}
        <div class="mb-3">
          {{ footer_form.as_p }}
        </div>
      {% endfor %}
    </fieldset>

    <fieldset class="mb-4">
      <legend class="h5">Url_map  y Colores </legend>
      {{ url_formset.management_form }}
      {% for url_form in url_formset %}
        <div class="mb-3">
          {{ url_form.as_p }}
        </div>
      {% endfor %}
    </fieldset>

    <div class="text-end">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
  <a href={% url "Lista-Desastre" %} class="customButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z"/>
      </svg>
  </a>
</div>
{% endblock %}
