{% extends "defensaCivil/base.html" %}
{% load static %}
{% block contenido %}
<div class="container">
    <div class="cont mb-1" onclick="window.location.href='{% url 'listaPersonas' %}'">
        <h3 class="display-4 titulo-volver">Persona</h3>
    </div>
    <form method="post" enctype="multipart/form-data" id="formulario">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>Instituciones Perteneciente</h2>
        {{ formset_institucion_cargo.management_form }}
        {% for form in formset_institucion_cargo %}
            <div>
                {{ form.as_p }}
            </div>
        {% endfor %}

        <button class="btn btn-primary mb-3" type="submit">Guardar</button>
        <a class="btn btn-danger mb-3" href="{% url 'listaPersonas' %}">Cancelar</a>
    </form>
    <a href={% url "listaPersonas" %} class="customButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z"/>
      </svg>
    </a>
</div>
{% endblock %}
