{% extends "defensaCivil/base.html" %}
{% load static %}
{% block estilos %}
<style>
    /* Forzar la vista de escritorio en la impresión */
    @media print {
      /* Ocultar header y footer */
      header,
      a,
      button,
      footer {
          display: none !important;
      }
      
      /* Hacemos que se muestren todas las celdas que puedan estar ocultas en mobile */
      .d-none,
      .d-sm-table-cell,
      .d-md-table-cell,
      .d-lg-table-cell,
      .d-xl-table-cell {
          display: table-cell !important;
      }
      
      /* Ocultar los elementos que tengan la clase "no-print" */
      .no-print {
          display: none !important;
      }
    }
    .img {
        max-width: 5rem;
        height: auto;
        display: block; /* Opcional, para evitar espacios en línea */
    }

  </style>
{% endblock %}

{% block contenido %}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-start align-items-center mb-1">
        <img src="{% static 'imagenes/dfcivil.png' %}" alt="Defensa Civil" class="img">
      <h2>Defensa Civil</h2>
    </div>

    <table class="table table-striped shadow-sm mt-2">
        <thead class="bg-light">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col" class="d-none d-sm-table-cell">Representante</th>
            <th scope="col" class="d-none d-md-table-cell">Teléfono</th>
            <th scope="col" class="d-none d-md-table-cell">Dirección</th>
            <th scope="col" class="d-flex justify-content-end d-table-cell d-lg-none no-print">Accion</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td style="cursor: pointer;" onclick="window.location.href='{% url 'modificarInstitucion' institucion.id %}'">{{ institucion.nombre | title}}</td>
              <td style="cursor: pointer;" class="d-none d-sm-table-cell" onclick="window.location.href='{% url 'modificarInstitucion' institucion.id %}'">{{ institucion.id_persona_encargado.nombre_apellido | title}}</td>
              <td style="cursor: pointer;" class="d-none d-md-table-cell" onclick="window.location.href='{% url 'modificarInstitucion' institucion.id %}'">{{ institucion.telefono |default_if_none:"--" }}</td>
              <td style="cursor: pointer;" class="d-none d-md-table-cell" onclick="window.location.href='{% url 'modificarInstitucion' institucion.id %}'">{{ institucion.direccion |default_if_none:"--" }}</td>
              <td class="d-table-cell d-lg-none no-print">
                <div class="d-flex justify-content-end align-items-center">
                    {% if institucion.telefono %}
                      <!-- Botón de llamada -->
                      <a class="btn btn-success ms-1 llamar-btn d-table-cell d-lg-none" onclick="llamar('{{ institucion.telefono }}')">
                          <span class="text-white d-flex align-items-center">📞</span>
                      </a>
                    {% endif %}
                </div>
              </td>
            </tr>
        </tbody>
    </table>
    {% if elementos %}
        <h5 class="">Elementos / Recursos / Vehículos / Maquinaria</h5>
        <table class="table table-striped shadow-sm  mt-2">
            <thead class="bg-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col" class="d-none d-lg-table-cell">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col" class="d-none d-md-table-cell">A cargo</th>
              </tr>
            </thead>
            <tbody>
              {% for elemento in elementos %}
                <tr>
                  <td style="cursor: pointer;" onclick="window.location.href='{% url 'modificarElemento' elemento.id %}'">{{ elemento.nombre | title}}</td>
                  <td style="cursor: pointer;" class="d-none d-lg-table-cell" onclick="window.location.href='{% url 'modificarElemento' elemento.id %}'">{{ elemento.tipo|default_if_none:"-----" | truncatechars:6}}</td>
                  <td style="cursor: pointer;" onclick="window.location.href='{% url 'modificarElemento' elemento.id %}'">
                    {% if elemento.estado %}
                      <span style="color: red;">🔴</span>
                    {% else %}
                      <span style="color: green;">🟢</span>
                    {% endif %}
                  <td style="cursor: pointer;" class="d-none d-md-table-cell" onclick="window.location.href='{% url 'modificarElemento' elemento.id %}'">{{ elemento.id_persona.nombre_apellido}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if personas %}
        <h5 class="">Personal Humano</h5>
        <table class="table table-striped shadow-sm  mt-2">
            <thead class="bg-light">
              <tr>
                <th scope="col">Nombre y Apellido</th>
                <th scope="col" class="d-none d-md-table-cell">Teléfono</th>
              </tr>
            </thead>
            <tbody>
              {% for persona in personas %}
                {% if persona.nombre != "seleccionar persona" %}
                  <tr>
                    <td style="cursor: pointer;" onclick="window.location.href='{% url 'modificarPersona' persona.id %}'">{{ persona.nombre_apellido | title}}</td>
                    <td style="cursor: pointer;" class="d-none d-md-table-cell" onclick="window.location.href='{% url 'modificarPersona' persona.id %}'">{{ persona.telefono | default_if_none:"-----" }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
        </table>
    {% endif %}
     <!-- Botón de impresión: con la clase no-print para que el propio botón no se imprima -->
    <button type="button" id="btnImprimir" class="btn btn-success no-print mt-3">Imprimir</button>
</div>
<!-- Código JavaScript para llamar a window.print() al hacer clic en el botón -->
<script>
  document.getElementById("btnImprimir").addEventListener("click", function(){
     window.print();
  });
</script>
{% endblock %}