
/* Header y estilos */
#nav {
    background: var(--el-salva-950-trasparent);
    backdrop-filter: blur(1rem);
    height: fit-content;
}


#logo {
  width: 3.5rem;
}

#title {
  font-size: .9rem;
  font-weight: 400;
  color: aliceblue;
}
.title-main{
    font-weight: 400;
    color: var(--java-950);
    padding-top: 20px;
    padding-bottom: 20px;
}
.title-main svg{
    width: 2rem;
}

/* Image background */

/* Catastrofes  */
#image-disaster {
    background: linear-gradient(to top. black, 20%. black);
  mask-image: linear-gradient(to top, black 20%, black);
  width: 100%;
  height: 250%;
}

@media screen and (max-width:525px) {

  #title {
    font-size: .76rem;
  }

  #image-disaster {
    width: 200%;
  }

  #text-overlay {
    font-size: 20px;
  }

  #logo {
    width: 2rem;
  }

  #logo-muni {
    width: 7rem;
  }

}


@media screen and (min-width:530px) and (max-width:700px) {
  #text-overlay {
    font-size: 2rem;
  }
  .title-list{
        font-size: 1rem;
    }

}

#disaster {
  background: linear-gradient(to top, black 80%, transparent);
  position: relative;
  display: inline-block;
  height: 300px;
  width: 100%;
  overflow: hidden;}

  #text-overlay {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 100;
    width: 100%;
  }

/* map-Frame */
.map-responsive {
    overflow: hidden;
    width: 100%;
    height: 600px;
  }

  .map-responsive iframe {
    width: 100%;
    left: 0;
    top: 0;
   
    position: absolute;
    border: 0;
  }
/*As footer */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

:root {
    --footer-background: white;
    --text-color: #111420;
    --text-gray: #e1e1e1;
    --text-heading-gray: #b9b9b9;
}

html {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

/*? footer reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*? footer containers */

footer {
    margin-top: auto;
    background-color: var(--footer-background);
   
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--footer-background);
    flex-direction: column;
    width: 100%;
}


/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 1rem 0px;
    justify-content: space-between;
}

.footer-line {
    display: block;
    width: 100%;
    height: 0.5rem;
    background: linear-gradient(
        90deg,#5da8ff,
        #605dff 50%,#ad63f6
    );
}
/*? footer columns */
.footer-columns {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowwrap;
    flex: 2 0 140px;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    margin: 0 auto;
    border-top: 1px solid var(--text-gray);
}

.footer-columns ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-columns ul a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-columns ul a:hover{
    text-decoration: underline;
}

.footer-columns ul li {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.footer-columns h4 {
    color: var(--footer-heading-gray);
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.footer-centering {
    margin: 0 auto;
}

.footer-columns > section {
    min-width: 9rem;
}

.footer-logo {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.footer-logo > img {
    margin: 0 auto;
    width: 20%;
}

/*? Footer bottom */

.footer-bottom {
    background: linear-gradient(to left,#8bc1ff ,#605dff, #ad63f6);
    text-align: center;
    border-top: 1px solid var(
        --text-gray
    );
    margin-top: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem 0px;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 1rem;
}

.footer-bottom > small {
    font-size: 1rem;
    margin: 0 0.25rem;
}

.footer-headline > h2 {
    margin: 0;
}

.footer-headline > p {
    margin: 0.75rem 0px;
}

/*? socials */

.social-links {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.social-links img {
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

/*? mobile */

@media (max-width: 800px) {
    .footer-logo img{
        width: 20rem;

    }
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0.5rem 2rem 0.5rem;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items:center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
}


/*  protocols */

/* Areas de defensa civil */
:root {
  --madison-50:  #eff6ff;
  --madison-100: #daebff;
  --madison-200: #bedcff;
  --madison-300: #91c7ff;
  --madison-400: #5da8fd;
  --madison-500: #3885f9;
  --madison-600: #2266ee;
  --madison-700: #1a50db;
  --madison-800: #1b42b2;
  --madison-900: #1c3b8c;
  --madison-950: #192b61;

  --el-salva-50:  #fcf4f4;
  --el-salva-100: #fae7e6;
  --el-salva-200: #f7d3d1;
  --el-salva-300: #f1b4b0;
  --el-salva-400: #e78882;
  --el-salva-500: #da6159;
  --el-salva-600: #c5453d;
  --el-salva-700: #a53730;
  --el-salva-800: #8d322c;
  --el-salva-900: #732e29;
  --el-salva-950-trasparent:#3e141187;
  --el-salva-950: #3e1411;

  --java-50:  #f2fbf4;
  --java-100: #e0f8e5;
  --java-200: #c2f0cd;
  --java-300: #92e3a6;
  --java-400: #5bcd78;
  --java-500: #39c05b;
  --java-600: #269341;
  --java-700: #217436;
  --java-800: #1f5c2f;
  --java-900: #1b4c29;
  --java-950: #0a2913;
}

.title-list{
    font-weight: 300;
    font-size: 2rem;
    padding-inline: 20px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-list svg{
    width: 2rem;

}

/* catastrofes */

