{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
        <title>Defensa Civil</title>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
          {% load bootstrap5 %}
          {% bootstrap_css %}
          {% bootstrap_javascript %}
    </head>
<style>

/* boton nuevo */
.customButton{
    display: flex;
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 60px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:rgb(118, 60, 212);
    color:beige;
    text-decoration: none;
    transition: 0.3s; 
}

.customButton:hover{
    color: white;
    background-color:rgb(110, 12, 202);
    transform: scale(1.05); 
    opacity: 0.9; 
    cursor: pointer;
}
</style>

<body>
  <nav class="navbar navbar-expand-lg fixed-top" style=" backdrop-filter: blur(1rem); background-color: rgba(0, 0, 0, 0.249);">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="#">
      <img src="{% static 'assets/logo.png' %}" alt="" style="width: 5rem;">
      <img src="{% static 'assets/logo defensa civil.png' %}" style="width: 1.2rem;"></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
        <a class="nav-link text-white fw-light d-sm-block d-none" id="te-vamos" href="#" style="font-size: .8rem;">Prevención, unidad y acción: juntos protegemos Mina Clavero.</a>
        <a class="nav-link text-white fw-light" href="#"style="font-size: .8rem;"> Defensa Civil</a>
  </div>
</nav>
<div class="position-relative overflow-hidden w-100" style="height: 400px;">
  <img src="{{ catastrofe.image_disaster }}" alt="" class="img-fluid w-100 h-100 object-fit-cover">

  <div class="position-absolute top-50 start-50 translate-middle text-center w-100 px-3" style="margin-top: 20px;">
    <h2 class="text-white fw-semibold mb-2" style="font-size: 2.5rem;">
      {{ catastrofe.type_disaster | title }}
    </h2>
    <p class="text-white fw-light d-none d-sm-block" style="font-size: 1.125rem; line-height: 1.7;">
      {{ catastrofe.descripcion | capfirst}}
    </p>
  </div>
</div>


  <button onclick="history.back()" class="customButton">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z"/>
    </svg>
  </button>
    <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container px-3 py-4" id="custom-cards">
  <h2 class="w-100 mb-4 d-flex align-items-center justify-content-center">
    Instituciones Involucradas
  </h2>
  <br>
  <div class="d-flex flex-nowrap overflow-auto gap-3 pb-2">
    {% for item in area %}
      <div class="flex-shrink-0 rounded-4 shadow-sm text-light d-flex flex-column" 
           style="min-width: 280px; max-width: 320px; background: linear-gradient(343deg, rgb(191, 151, 255), rgb(32, 181, 250));">

        <!-- Contenido superior -->
        <div class="p-4 pb-2">
          <h5 class="fw-bold mb-3">{{ item.nombre | title }}</h5>
          <small class="text-wrap w-100 d-block">
            {{ item.descripcion | capfirst}}
          </small>
        </div>

        <!-- Botón al fondo -->
        {% if item.telefono %}
          <div class="mt-auto p-4 pt-0">
            <a href="tel:{{ item.telefono }}" class="btn btn-success btn-sm w-100">
              <img src="{% static 'assets/phone.svg' %}" alt=""> {{ item.telefono }}
            </a>
          </div>
        {% endif %}

      </div>
    {% endfor %}
  </div>
</div>
{% if sub_cat %}
<style>
  .card-zoom {
    transition: transform 0.3s ease-in-out;
    transform-origin: center bottom;
  }

  .card-zoom:hover {
    transform: scale(1.05) rotateX(7deg);
  }
</style>
  <div class="container mt-5" id="custom-cards">
    <h3 class="fw-bold mb-4 text-center">¿Cuales son las posibles sub catastrofes relacionadas?</h3>
    <div class="d-flex flex-nowrap overflow-auto gap-3 p-3">
      {% for s in sub_cat %}
        <div class="flex-shrink-0 text-white rounded-5 card-zoom" style="min-width: 280px; max-width: 320px; background-image: url('{{ catastrofe.image_disaster | safe }}'); background-size: cover; background-position: center; background-repeat: no-repeat; ">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1" style="background-color: transparent;">
            <a href="{% url 'detalle_subcatastrofe' s.id %}" class="text-decoration-none"><h3 class="pt-3 mt-5 mb-4 display-7 lh-1 fw-bold text-white" >{{ s.titulo | title }}</h3></a>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto" style="background: linear-gradient(343deg, rgb(191, 151, 255), rgb(32, 181, 250)); border-radius: 4rem;">
                <img src="{% static 'assets/ex.svg' %}" alt="Logo" width="32" height="32" class="">
              </li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endif %}
<br>
<br>
<h2 class="title-list text-center">
  Protocolos Acción en Caso de {{ catastrofe.type_disaster | title}} - Mina Clavero 
</h2>
<br>
<br>
{% comment %}  ---------------------- SECCION DE PROTOCOLOS ---------------------------  {% endcomment %}
  <div class="container ">
    <div class="row gy-5">
      <!-- PRE EMERGENCIA -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="bg-white border rounded-4 shadow-sm p-4 h-100">
          <h3 class="fw-semibold text-primary d-flex align-items-center justify-content-center mb-1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4" width="2em">
            <path fill-rule="evenodd"
              d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0ZM9 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6.75 8a.75.75 0 0 0 0 1.5h.75v1.75a.75.75 0 0 0 1.5 0v-2.5A.75.75 0 0 0 8.25 8h-1.5Z"
              clip-rule="evenodd" />
          </svg>
           Pre Emergencia
          </h3>
          <p class="text-secondary text-center mb-3">{{ catastrofe.type_disaster | title }}</p>
          <p class="text-muted small text-center mb-3">Medidas preventivas y preparación</p>
          <ul class="list-group list-group-flush">
            {% for item in protocolo %}
              {% if item.campo_seleccion == 'Antes' %}
                <li class="list-group-item text-dark">{{ item.name | capfirst }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- DURANTE EMERGENCIA -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="bg-white border rounded-4 shadow-sm p-4 h-100">
          <h3 class="fw-semibold text-danger d-flex align-items-center justify-content-center mb-1">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4" width="2em">
            <path fill-rule="evenodd"
              d="M6.701 2.25c.577-1 2.02-1 2.598 0l5.196 9a1.5 1.5 0 0 1-1.299 2.25H2.804a1.5 1.5 0 0 1-1.3-2.25l5.197-9ZM8 4a.75.75 0 0 1 .75.75v3a.75.75 0 1 1-1.5 0v-3A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
              clip-rule="evenodd" />
          </svg>
            Durante Emergencia
          </h3>
          <p class="text-secondary text-center mb-3">{{ catastrofe.type_disaster | title }}</p>
          <p class="text-muted small text-center mb-3">Acciones inmediatas y resguardo</p>
          <ul class="list-group list-group-flush">
            {% for item in protocolo %}
              {% if item.campo_seleccion == 'Durante' %}
                <li class="list-group-item text-dark">{{ item.name | capfirst }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- POST EMERGENCIA -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="bg-white border rounded-4 shadow-sm p-4 h-100">
          <h3 class="fw-semibold text-success d-flex align-items-center justify-content-center mb-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"  class="size-4" width="2em"
              aria-hidden="true">
              <path fill-rule="evenodd"
                d="M7.5 1.709a.75.75 0 0 1 1 0 8.963 8.963 0 0 0 4.84 2.217.75.75 0 0 1 .654.72 10.499 10.499 0 0 1-5.647 9.672.75.75 0 0 1-.694-.001 10.499 10.499 0 0 1-5.647-9.672.75.75 0 0 1 .654-.719A8.963 8.963 0 0 0 7.5 1.71ZM8 5a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-1.5 0v-2A.75.75 0 0 1 8 5Zm0 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
                clip-rule="evenodd" />
            </svg>
            Post Emergencia
          </h3>
          <p class="text-secondary text-center mb-3">{{ catastrofe.type_disaster | title }}</p>
          <p class="text-muted small text-center mb-3">Acciones de recuperación y evaluación</p>
          <ul class="list-group list-group-flush">
            {% for item in protocolo %}
              {% if item.campo_seleccion == 'Despues' %}
                <li class="list-group-item text-dark">{{ item.name | capfirst }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>


    


  <h4 class="mt-5 px-3 py-2 rounded-top text-center">
    Ubicaciones Refugios: Mina Clavero, Córdoba
  </h4>
<div class="container my-4">
  {% if catastrofe.mapa_interactivo %}
    <div class="ratio ratio-16x9">
      {{ catastrofe.mapa_interactivo | safe }}
    </div>
  {% else %}
    <p class="text-center text-muted">No hay mapa interactivo disponible.</p>
  {% endif %}
</div>


{% if pdf_frames %}
  <div class="container py-4">
    <h2 class="title-list text-center mb-4">Protocolos Adjuntos</h2>
    <div class="row gy-4 justify-content-center">
      {% for pdf in pdf_frames %}
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card shadow-sm h-100">
            <iframe 
              src="https://drive.google.com/file/d/{{ pdf.file_id }}/preview" 
              width="100%" 
              height="400" 
              allow="autoplay"
              style="border: none;">
            </iframe>
            <div class="card-body text-center">
              <h5 class="card-title">Protocolos de {{ pdf.name | title }}</h5>
              <a href="https://drive.google.com/file/d/{{ pdf.file_id }}/view" target="_blank" class="btn btn-outline-primary">
                Ver en Google Drive
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}







<footer class="text-black py-5 mt-5">
  <div class="container">
    <!-- Sección superior: Logo y contactos -->
    <div class="row gy-4 align-items-start">
      <!-- Logo -->
      <div class="col-12 col-md-4 text-center text-md-start">
        <img src="{% static 'imagenes/mina.png' %}" alt="Logo Mina Clavero" class="img-fluid mb-3" style="max-width: 160px;">
        <p class="small">Gobierno local de Mina Clavero, Córdoba</p>
      </div>

      <!-- Contactos -->
      <div class="col-12 col-md-8">
        <h5 class="fw-light mb-4">Contactos</h5>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for item in area %}
            {% if item.telefono %}
            <div class="col-6 overflow-hidden">
              <h6 class="fw-semibold">{{ item.nombre }}</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="tel:{{ item.telefono | safe}}" class="text-black text-decoration-none small d-block">
                    📞 {{ item.telefono}}
                  </a>
                </li>
              </ul>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Separador -->
    <hr class="border-secondary my-4">

    <!-- Sección inferior: redes y derechos -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-start gap-3">
      <small class="d-block">&copy; Mina Clavero <span id="year"></span>. Todos los derechos reservados.</small>
      <small class="d-block">Arregui Matias
        <a href="https://www.linkedin.com/in/matiasnicolasarregui/" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
          </svg>
        </a>
      </small>
      <small class="d-block">Cuello Santiago
        <a href="https://www.linkedin.com/in/santy-cuello-69b147371" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
          </svg>
        </a>
      </small>
      <div class="d-flex gap-3">
        <a href="#" title="Instagram">
          <img src="{% static 'assets/instagram.svg' %}" alt="Instagram" width="24" height="24">
        </a>
        <a href="#" title="YouTube">
          <img src="{% static 'assets/youtube.svg' %}" alt="YouTube" width="24" height="24">
        </a>
      </div>
    </div>
  </div>
</footer>
















  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>

</html>