<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard de Catástrofes</title>
    <style>
        *{
            font-family: sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

    <h1>Estado Base</h1>
    <table>
        <thead>
            <tr>
                <th>Estado por defecto</th>
                <th>Activo</th>
                <th>editar</th>
            </tr>
        </thead>
        <tbody>
           
            {% for disaster in disaster %}
            {% if disaster.is_default %}
            <tr>
                <td>{{ disaster.type_disaster }}</td>
                <td>{{ disaster.is_default}}</td>
                <td><a href='/defensaCivil/update/{{ disaster.id }}/'>Edit</a></td>
              
            </tr>
            {% endif %}

            {% endfor %}
        </tbody>
    </table>

    <!-- Listado de si todas las catastrofes no son un estado por defecto -->
    <!-- Se especifica en la line 38 -->
    <h1>lista de Catástrofes</h1>
    <table>
        <thead>
            <tr>
                <th>Tipo de Desastre</th>
                <th>Estado</th>
                <th>editar</th>
                <th>Activar</th>
            </tr>
        </thead>
        <tbody>
           
            {% for disaster in disaster %}
            {% if not disaster.is_default %}

            <!-- <script type="text/javascript">
                {% if disaster.is_active %}
                const isActive = {{ disaster.is_active|yesno:"true,false" }};
                const disasterId = {{ disaster.id }};
                {% endif %}

                window.onload = function() {
                    const btn = document.getElementById("activar-btn");
                    if (isActive && disasterId !== idObjetivo) {
                        btn.style.display = "none";
                    }}
            </script> -->
                

            
                
            <tr>
                <td>{{ disaster.type_disaster }}</td>
                <td>{{ disaster.is_active}}</td>
                <td><a href='/defensaCivil/Modificar/{{ disaster.id }}/'>Edit</a></td>
                <td>
                    {% if not disaster.is_active and active %}
                    <a href="/defensaCivil/Activar/{{ disaster.id }}/">Activar</a>
                    {% endif %}

                     <!-- {% if not disaster.is_active or active %}
                    <a href="/defensaCivil/Activar/{{ disaster.id }}/">desactivar</a>
                    {% endif %} -->

                    {% if disaster.is_active %}
                    <a href="/defensaCivil/Activar/{{ disaster.id }}/">desactivar</a>
                    {% endif %}
                   

                 
                </td>
              
            </tr>
            {% endif %}
            {% endfor %}
           
        </tbody>
    </table>
</body>
</html>
<!-- <a href=""></a> -->