{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'assets/def_civil.ico' %}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
        <title>Desastres Mina Clavero</title>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

<style>
  .map-responsive {
      position: relative;
      padding-bottom: 56.25%; /* Relación 16:9 */
      height: 0;
      overflow: hidden;
  }
  
  .map-responsive iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
  }
  
  #card-size{
    width: 18rem;
    /*height: 4rem;*/
  }
  #img-card{
      height:200px;
      width: 100%;
  }
  @media screen and (max-width: 770px) and (min-width:550px){
        #card-size{
          width: 11rem;
        
          }
        
        
  }
  .card-cover{
    background: linear-gradient(345deg, rgb(171, 222, 211) 2%,rgb(226, 171, 248) 90%, rgb(234, 222, 238));
  }
  .card-cat{
    background-size: conver;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
</style>

</head>
    <body>
     
     <!-- as heading -->
     <nav class="navbar fixed-top" id="nav">
          <div class="container-fluid gap-1">
               <span class="navbar-brand" id="title">
                    <img src="{% static 'assets/logo.png' %}" alt="" id="logo-muni">
                    <img src="{% static 'assets/logo defensa civil.png' %}" alt="" id="logo">
               </span>
               <span class="" id="title">Prevención, unidad y acción: juntos protegemos Mina Clavero.</span>
               <span class="" id="title">Secretaria de Gobierno</span>
          </div>
     </nav>

     <!-- as main content -->
     <main>


          <!-- background image -->
          <div id="disaster">
               <img src="{{ catastrofe.image_disaster }}" alt="" id="image-disaster">
               <h2 id="text-overlay"class="text-center" style="color: aliceblue;font-weight: 200; margin: 30px 20px;">{{catastrofe.type_disaster}}</h2>
          </div>
         <!-- Cards de areas -->
          {% if catastrofe.is_active %}
          <div class="container px-4 py-5" id="custom-cards">
            <h2 class="text-center title-main w-100">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
              </svg> Areas Relaciondas
            </h2>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
              {% for institucion in refujio %}
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                      <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ institucion.institucion.nombre | title}}</h2>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        {% if institucion.institucion.telefono %}
                          <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                            <small>{{ institucion.institucion.telefono}}</small>
                          </li>
                        {% endif %}
                        <li class="d-flex align-items-center">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                          <small>{{ institucion.institucion.descripcion}}</small>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
          {% endif %}
        
        <!-- Areas -->
        {% if catastrofe.is_default %}
          <div class="container px-2 py-2" id="custom-cards">
            <h2 class="text-center title-main w-100">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
              </svg> Areas
            </h2>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
              {% for institucion in refujio %}
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                      <h2 class="pt-3 mt-5 mb-4 display-6 lh-1 fw-bold">{{ institucion.nombre | title}}</h2>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        {% if institucion.institucion.telefono %}
                          <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                            <small>{{ institucion.telefono}}</small>
                          </li>
                        {% endif %}
                        <li class="d-flex align-items-center">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                          <small>{{ institucion.descripcion}}</small>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
        {% endif %}
          {% comment %} <div class="container py-5">
             <div class="row g-4">
                {% for item in refujio %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                   <div class="card shadow-sm">
                      <div class="card-body">
                         <h5 class="card-title">{{ item.Refujio | title}}</h5>
                         <div class="ratio ratio-4x3">
                            {{ item.map_frame | safe }}
                         </div>
                      </div>
                   </div>
                </div>
                {% endfor %}
             </div>
          </div> {% endcomment %}
          

          <!-- mapa de refujios -->
          {% if catastrofe.is_active %}
            <h2 class="text-center title-main">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
              </svg>
             Mapa de Refugios
            </h2>
          {% endif %}

          {% if catastrofe.is_default %}
            <h2 class="text-center title-main">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
              </svg>
               Mapa de Areas
            </h2>
          {% endif %}

          <div class="container w-100" style="width: 100%;">
               <div class="card shadow">
                {% if catastrofe.is_active %}
                    <div class="card-header bg-danger text-white">
                      Ubicaciones Refugios: Mina Clavero, Córdoba
                    </div>
                {% endif %}
                {% if catastrofe.is_default %}
                    <div class="card-header bg-danger text-white">
                      Ubicaciones Areas: Mina Clavero, Córdoba
                    </div>
                {% endif %}
                    <div class="">
                         <div class="map-responsive">
                          <iframe src="{{ catastrofe.mapa_interactivo }}" frameborder="0"></iframe>
                         </div>
                    </div>
               </div>
          </div>

<!------------------- catastrofes  if default -->

{%  if catastrofe.is_default %}

  <div class="container px-2 py-2" id="custom-cards">
    <h2 class="text-center title-main w-100">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
      </svg> Catástrofes
    </h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
      {% for item in all %}
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url({{item.image_disaster}}); background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-3 mt-5 mb-4 display-6 lh-1 fw-bold">{{ item.type_disaster | title}}</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
{% endif %}

<!--------------------  Protocols ------------------>
{% if catastrofe.is_active %}
<br>
<br>
<h2 class="title-list text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
    <path
      d="M2.75 2a.75.75 0 0 0-.75.75v10.5a.75.75 0 0 0 1.5 0v-2.624l.33-.083A6.044 6.044 0 0 1 8 11c1.29.645 2.77.807 4.17.457l1.48-.37a.462.462 0 0 0 .35-.448V3.56a.438.438 0 0 0-.544-.425l-1.287.322C10.77 3.808 9.291 3.646 8 3a6.045 6.045 0 0 0-4.17-.457l-.34.085A.75.75 0 0 0 2.75 2Z" />
  </svg>
   Protocolo de Acciones en Caso de {{ catastrofe.type_disaster }} - Mina Clavero 
</h2>
<br>
<br>
<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 p-2 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4" width="1em">
            <path fill-rule="evenodd"
              d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0ZM9 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6.75 8a.75.75 0 0 0 0 1.5h.75v1.75a.75.75 0 0 0 1.5 0v-2.5A.75.75 0 0 0 8.25 8h-1.5Z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <h3 class="title text-">Alerta Termprana {{catastrofe.type_disaster}}</h3>
        <ul class="list-group list-group-flush">

          {% for item in protocolo %}
            {% if item.campo_seleccion == 'Antes' %}
              <li class="list-group-item">{{ item.name }}</li>
            {% endif %}
          {% endfor %}

        </ul>
      </div>

      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-danger fs-2 mb-3 rounded p-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4" width="1em">
            <path fill-rule="evenodd"
              d="M6.701 2.25c.577-1 2.02-1 2.598 0l5.196 9a1.5 1.5 0 0 1-1.299 2.25H2.804a1.5 1.5 0 0 1-1.3-2.25l5.197-9ZM8 4a.75.75 0 0 1 .75.75v3a.75.75 0 1 1-1.5 0v-3A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <h3 class=" title">Emergencia {{catastrofe.type_disaster}}</h3>
        <ul class="list-group list-group-flush">

          {% for item in protocolo %}
            {% if item.campo_seleccion == 'Durante' %}
              <li class="list-group-item">{{ item.name }}</li>
            {% endif %}
          {% endfor %}

        </ul>
      </div>

      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-success p-2 rounded bg-gradient fs-2 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white" class="size-4" width="1em"
            aria-hidden="true">
            <path fill-rule="evenodd"
              d="M7.5 1.709a.75.75 0 0 1 1 0 8.963 8.963 0 0 0 4.84 2.217.75.75 0 0 1 .654.72 10.499 10.499 0 0 1-5.647 9.672.75.75 0 0 1-.694-.001 10.499 10.499 0 0 1-5.647-9.672.75.75 0 0 1 .654-.719A8.963 8.963 0 0 0 7.5 1.71ZM8 5a.75.75 0 0 1 .75.75v2a.75.75 0 0 1-1.5 0v-2A.75.75 0 0 1 8 5Zm0 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
              clip-rule="evenodd" />
          </svg>
         
        </div>
        <h3 class=" title">Post Emergencia {{catastrofe.type_disaster}}</h3>
        <ul class="list-group list-group-flush">

          {% for item in protocolo %}
            {% if item.campo_seleccion == 'Despues' %}
              <li class="list-group-item">{{ item.name }}</li>
            {% endif %}
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>


{% endif %}
<!--  -->
</main>
<br>

<!-- As footer -->
<footer>
    <div class="footer-line"></div>
    <section class="footer-logo">
        <img src="{% static 'imagenes/mina.png' %}" alt="">
    </section>

    <!-- conteiner for content -->
    <div class="footer-wrapper">
    <h4 style="font-weight:300; text-align: left:0%;">Contactos</h3>
        <div class="footer-columns">
            {% for item in refujio %}
            <section>
                <h3 style="font-size: 1rem;">{{ item.institucion.nombre}}</h3>
                <ul>
                    <li>
                        <a href="#" title="">{{ item.institucion.telefono }}</a>
                    </li>
                    <li>
                      <a href="#"> {{item.institucion.email}}</a>
                    </li>
                </ul>
            </section>
            {% endfor %}


        </div>
                
    <!-- redes sociales mina -->
    <div class="footer-bottom">
        <small>© Mina Clavero. <span id="year"></span>, todos los derechos reservados</small>
        <span class='social-links'>
            <a href="#" title="Instagram">
                <img src="{% static 'assets/instagram.svg' %}" alt='Instagram'></a>
            <a href="#" title="Youtube"><img src="{% static 'assets/youtube.svg' %}" alt='YouTube'></a>
                       
        </span>
    </div>
</div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
  </script>
<script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
    </body>
</html>
