{% extends "landingPage/base.html" %}
{% load static %}
{% block estilos %}
{% endblock %}
{% block contenido %}
 <!-- Botonera -->
  <main class="container-fluid d-flex justify-content-center gap-5 m-4">
    <a href="{% url "mapa" %}" class="btn-image" style="background-image: url('imagenes/fondo1.jpg');">
      <span class="btn-text">Mapa</span>
    </a>
    <a href="{% url "catastrofes" %}" class="btn-image" style="background-image: url('imagenes/fondo2.jpg');">
      <span class="btn-text">Catástrofes</span>
    </a>
    <a href="{% url "dc" %}" class="btn-image" style="background-image: url('imagenes/fondo3.jpg');">
      <span class="btn-text">Areas de Defensa civil</span>
    </a>
    <a href="{% url "protocolos" %}" class="btn-image" style="background-image: url('imagenes/fondo4.jpg');">
      <span class="btn-text">Protocolo de Emergencia</span>
    </a>
  </main>
{% endblock %}
